*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.DieuHuong
{
    width: 100%;
    height: 60px;
    background: black;
}
.DieuHuong .center
{
    width: 100%;
    height: 100%;
    text-align: center;
}
.DieuHuong .center ul
{
    margin: 0px;
    padding: 0px;
}
.DieuHuong .center ul li
{
    list-style: none;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
    display: inline-block;
}
.DieuHuong .center ul li a
{
    color: white;
}
.Nav
{
    width: 100%;
    height: 60px;
    background:#d70018;
    display: flex;
}
.Nav .left
{
    width: 30%;
    height: 100%;
}
.Nav .left img
{
    width: 30%;
    height: 100%;
}
.Nav .right
{
    padding: 0px;
    margin: 0px;
    display: flex;
}
.Nav .right .phone
{
    height: 100%;
    width: 34%;
}
.Nav .right .bando
{
    height: 100%;
    width: 34%;
    text-align: center;
}
.Nav .right .giohang
{
    height: 100%;
    width: 33%;
}
.Nav .right .giohang .icon1
{
    width: 100%;
    height: 65%;
    font-size: 32px;
    color: white;
    margin-left:60px;
    padding-top:10px;
}
.Nav .right .giohang h5
{
    color: white;
    margin: 0px;
    padding: 0px;
    margin-left: 51px;
    font-size: 15px;
    font-style: italic;
}
.Nav .right .phone .icon2
{
    width: 100%;
    height: 65%;
    font-size: 28px;
    color: white;
    margin-left: 20px;
    padding-top:10px;
}
.Nav .right .phone h5
{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
}
.Nav .right .bando .icon3
{
    width: 100%;
    height: 65%;
    font-size: 27px;
    color: white;
    padding-top:10px;
}
.Nav .right .bando h5
{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-style: italic;
}
.Nav .center
{
    width: 35%;
    height: 100%;
}
.Nav .center input
{
    margin-top: 15px;
    width: 70%;
}
.Nav .center button
{
    margin-top:15px;
    height:37px;
    width:70px;
    border-radius:5px;
}
.Nav .right
{
    width: 35%;
    height: 100%;
}
.Menu
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.Menu .tensp
{
    height: 55px;
    width: 100%;
    border-bottom:rgb(44, 43, 43) 2px solid;
}
.Menu .thongtin
{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 15px;
}
.Menu .thongtin .ttLeft
{
    width: 50%;
    height:100%;
}
.Menu .thongtin .ttRight
{
    width: 50%;
    height:100%;
}
.Menu .thongtin .ttLeft img
{
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 60px;
}
.Menu .thongtin .ttRight ul
{
    padding: 0px;
    margin: 0px;
}
.Menu .thongtin .ttRight ul li
{
    list-style: none;
}