.quenmk{
    width: auto;
    height: auto;
}
.quenmk h2
{
    text-align: center;
}
.quenmk .duoi{
    margin-top: 20px;
    margin-left: 100px;
}
.quenmk .tren {
    margin-top: 20px;
}
.quenmk .container-quen{
    border: 1px solid rgb(27, 65, 189);
    border-radius: 20px;
    margin-top: 20vh;
    padding: 30px;
}
.quenmk .container-quen .duoi .btnxacnhan{
    width: 150px;
    height: auto;
}
.note 
{
    color: rgb(241, 91, 116);
    margin-top: 5px;
    size: 5px;
}
button
{
    text-align: center;
    margin-left: 80px;
    width: 140px;
}