*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.DieuHuong
{
    width: 100%;
    height: 60px;
    background: black;
}
.DieuHuong .center
{
    width: 100%;
    height: 100%;
    text-align: center;
}
.DieuHuong .center ul
{
    margin: 0px;
    padding: 0px;
}
.DieuHuong .center ul li
{
    list-style: none;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
    display: inline-block;
}
.DieuHuong .center ul li a
{
    color: white;
}
.Menu
{
    width: 100%;
    height: 100%;
    display: flex;
}
.Menu .MLeft
{
    margin: 0px;
    padding: 0px;
    width: 20%;
    height: 100%;
    border-right: 1px solid rgb(239, 237, 243);
}
.Menu .MLeft h4
{
    text-align: center;
    size: 30px;
    font-weight: bold;
    padding-top: 20px;
}
.Menu .MLeft .DanhMuc
{
    margin-top: 10px;
    width: 100%;
    height: 30px;
}
.Menu .MLeft .DanhMuc .icon2
{
    padding-left: 5px;
    padding-right: 5px;
}
.Menu .MLeft .DanhMuc .btdanhmuc
{
    width: 100%;
    height: 50px;
}

